{% extends 'base.html' %}

{% block content %}

<section class="main-section d-flex justify-content-center align-items-center text-light">
    <form method="POST" action="{% url 'login' %}" class="login-form bg-dark rounded-lg d-flex flex-column justify-content-center p-4">
        {% if error %}
            <p class="text-center p-2 bg-danger rounded-lg">{{error}}</p>
        {% endif %}
        <h3 class="mb-3 text-center">Login here!</h3>
        {% csrf_token %}
        <p>Username: {{form.username}}</p>
        <p>Password: {{form.password}}</p>
        <button id="btn_login" type="submit" class="btn btn-secondary mb-3">Login</button>
        <p>Don't have an account? <a href="{% url 'story9:register' %}">Register now!</a></p>
    </form>
</section>

{% endblock %}
