{% extends 'base.html' %}

{% block content %}

<section class="registration-section d-flex justify-content-center align-items-center text-light flex-column">
    {% if error %}
            <p class="text-center p-2 bg-danger rounded-lg"></p>
    {% endif %}
    <form method="POST" action="{% url 'story9:register' %}" class="login-form bg-dark rounded-lg d-flex flex-column justify-content-center p-4">
        <h3 class="text-center mb-3">Register Now!</h3>
        {% csrf_token %}
        {{form}}
        <button type="submit" id="btn_register" class="btn btn-secondary">Register</button>
    </form>
</section>

{% endblock %}
