* {
  font-family: "Manrope", sans-serif !important;
}

.jumbotron {
  background-color: #6c757d;
  background-size: cover;
  background-position-y: center;
}

.content-bar {
  min-height: calc(100vh - 482px);
  box-sizing: border-box;
}

.main-section {
  min-height: calc(100vh - 112px);
}

.registration-section {
  min-height: calc(100vh - 112px);
}

.login-form {
  height: 400px;
  width: 350px;
  -webkit-box-shadow: 5px 5px 15px 5px #c0ceb7;
  box-shadow: 5px 5px 15px 5px #c0ceb7;
}

.helptext {
  display: none;
}

.profile-img {
  width: 150px;
}
