{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="jumbotron rounded-0 text-light mb-0">
    <div class="container">
        <h1 class="display-4">Selamat Datang, {{username}} !</h1>
        </p>
    </div>
  </div>

  <section class="bottom-main bg-secondary content-bar text-light">
        <div class="container">
            {% if not request.user.is_authenticated %}
            <h3 class="pt-4">You are currently not logged in, <a href="{% url 'login' %}">Login here.</a></h3>
            {% endif %}
        </div>
  </section>

{% endblock %}
